<mat-toolbar color="white" class="fixed">
  <mat-toolbar-row>

    <ul class="ul">
      <li>
        <button mat-button class="outline title" routerLink="/category">
          <i class="material-icons">home</i>
        </button>
      </li>
      <li>
        <button mat-button class="outline title" routerLink="/catalogue/1">
          <i class="material-icons">article</i>
        </button>
      </li>
      <li>
        <button mat-button class="outline title" routerLink="#">
          <i class="material-icons">add_shopping_cart</i>
        </button>
      </li>
    </ul>
    
  </mat-toolbar-row>
</mat-toolbar>

